.column2-1{
  position: relative;
  border-radius:9px;
  background-color: white;
  font-family: 'Gowun Dodum', sans-serif;
  }
.guestbox { 
  overflow: scroll;
  overflow-x: hidden;
  margin: 15px 15px;
  height: 540px;
 }
.guest_{
   border: 0.1px solid rgb(255, 255, 255);
   
 }
 .guest_date{
  height: 2rem;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.8rem;
  }
.guest_write{
  padding-top:10rem;
  flex-direction: column;
  vertical-align:middle;
  font-size: 15px;
}
.guestpic{
  padding-right:10px;
  padding-top:15px;
  float:left;
}